{% extends "www/base.html" %}

{% block title %}订单查询 | {{ super() }}{% endblock %}

{% block full %}
    <form class="form-horizontal" action="{{ url_for('views.bill_search') }}" method="POST" role="form">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.serial_num.label(class="col-sm-2 control-label", for="serial_num") }}
            <div class="col-sm-10">
                {{ form.serial_num(class="form-control", placeholder="批量查询，最多10单", rows=10) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-lg pull-right">查询</button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr><th>单号</th><th>物流信息</th><th>货物明细</th><th>创建时间</th></tr>
            </thead>
            <tbody>
            {% for bill in bills %}
                <tr>
                    <td>{{ bill.serial_num }}</td>
                    <td>
                        <ul class="list-group">
                        {% for l in bill.logistics %}
                            <li class="list-group-item"><strong>{{ l.genre }}</strong>{{ l.infomation }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                        {% for item in bill.items %}
                            <li class="list-group-item"><strong>{{ item.name }}</strong>{{ item.remark }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>{{ bill.date_created|strftime }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
