{% extends "www/base.html" %}

{% block title %}相关知识列表 | {{ super() }}{% endblock %}

{% block full %}
		<div class="list-group">
  			<a href="{{ url_for('views.knowledge_detail', name='category') }}" class="list-group-item">
    			<h4 class="list-group-item-heading">中华人民共和国进境物品归类表</h4>
    			<p class="list-group-item-text">...</p>
  			</a>
  			<a href="{{ url_for('views.knowledge_detail', name='forbidden') }}" class="list-group-item">
    			<h4 class="list-group-item-heading">航空禁运商品明细</h4>
    			<p class="list-group-item-text">...</p>
  			</a>
  			<a href="{{ url_for('views.knowledge_detail', name='offset') }}" class="list-group-item">
    			<h4 class="list-group-item-heading">起点速递免责赔偿条款</h4>
    			<p class="list-group-item-text">...</p>
  			</a>
  			<a href="{{ url_for('views.knowledge_detail', name='pay') }}" class="list-group-item">
    			<h4 class="list-group-item-heading">收费标准</h4>
    			<p class="list-group-item-text">...</p>
  			</a>
  			<a href="{{ url_for('views.knowledge_detail', name='tax') }}" class="list-group-item">
    			<h4 class="list-group-item-heading">个人行游完税价格表</h4>
    			<p class="list-group-item-text">...</p>
  			</a>
		</div>
{% endblock %}
