{% extends "www/base.html" %}

{% block title %}起点速递免责赔偿条款 | {{ super() }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://app.yinxiang.com/redesign/global/css/fonts.css">
    <link rel="stylesheet" href="https://app.yinxiang.com/redesign/global/css/noteView.css">
    <style>
        #haloword-pron { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -94px -34px; }#haloword-pron:hover { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -111px -34px; }#haloword-close { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -94px 0; }#haloword-close:hover { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -111px 0; }</style><style>#haloword-pron { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -94px -34px; }#haloword-pron:hover { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -111px -34px; }#haloword-close { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -94px 0; }#haloword-close:hover { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -111px 0; }
        body {background: #FFFFFF;padding-top: 70px;padding-bottom: 20px;}
        .header {background-color: #F8F8F8;border-bottom:#F8F8F8;}
    </style>
{% endblock %}

{% block full %}
        <div class="note-content">
            <div class="ennote">
                <p><span style="font-size: 12pt;">保价服务、保价金额与保价费</span><br clear="none"></p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;起点速递的保价服务为自选服务。发件人在提交运单任务时时输入保价金额并支付对应比例的保价费即为选用保价服务。每单保价金额在1000美元内，保价费为保价金额的2%，每单保价金额在1000~2000美元内，保价费为保价金额的5%，每单保价金额最高不超过2000美元。</p>
                <p><strong><span style="color: rgb(0, 0, 255); font-size: 12pt;">仓库内及转运中</span></strong></p><p><span style="font-size: 12pt;">整单货物丢失毁损</span></p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;如果起点速递的运单货物在转运过程中全部丢失或毁损，对于未保价的运单，起点速递将按照货物实际购买价值与100美元之间取低赔偿，对于已保价的运单，起点速递将按照货物实际购买价值与运单保价金额之间取低赔偿。但起点速递对托运货物整单遗失损毁的赔偿责任将不会超过其实际购买价值，且其他费用不予退还，包括保价费，运费，预付关税，服务费等。</p><p><span style="font-size: 12pt;">运单货物部分缺损</span></p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;如果起点速递的运单货物在转运过程中内件有部分缺损，当客户出具对应的国内段快递派件员的包裹缺损内件的签章证明后，起点速递将按理赔流程进行处理。对于未保价的运单，起点将按丢失货件的实际购买价值与100美元之间取低赔偿，损坏货件不予赔偿；对于已保价的运单，起点将按缺损货件的实际购买价值与运单保价金额之间取低赔偿，但赔偿责任将不会超过其购入价、修理费、折旧后价值或其更换成本。包括保价费、运费、预付关税、服务费等相关费用，起点不予退还。</p>
                <p><span style="font-size: 12pt;">申报价值</span></p><p>&nbsp; &nbsp; &nbsp; &nbsp;客户在起点速递的托运货物，其申报价值不得超过海关的核定价值。</p>
                <p><strong><span style="color: rgb(0, 0, 255); font-size: 12pt;">理赔程序</span></strong></p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;所有的理赔运单，需在货物送达或签收（他人代签亦视作签收）后7日内，收集理赔相关证据信息，发邮件到起点速递售后邮箱：李忠明的邮箱&nbsp;&amp;&nbsp;lworiginusa@gmail.com,yiwang8512@gmail.com&nbsp;。整个理赔周期为30个工作日内。处理赔付时客户需要提供相关完整证据，如国内快递开具的缺损签章证明，购物网站完整订单截图，货物开箱后实物图片，缺损情况明细等。赔付款项以帐户余额形式转入客户的帐户。</p>
                <p><span style="font-size: 12pt;">大宗货物运输</span></p><p>&nbsp; &nbsp; &nbsp; &nbsp;起点速递大宗货渠道的货物可按照保价金额的2%~3%购买保价服务。如发生货物丢失或损毁，起点按照实际货损赔偿，最高不超过保价金额。<br clear="none"> 未保价运单，在仓储及中转过程中如发生丢失损毁，起点快递按9.1美元/磅（lbs） 赔偿，最高赔偿额不超过该单运费的3倍。</p>
                <p><span style="font-size: 12pt;">不予保价的货品</span></p>
                <ul>
                    <li>艺术品，包括运用技术、品味或创造才能创作或开发、用于出售、陈列或收藏的任何作品 ，包括但不限于，绘画、图面、花瓶、刺绣、限量发行的印刷品、美术作品、人像、雕塑 、收藏鉴赏精品、摄影负片、摄影胶版、摄影幻灯片及其它容易 受损的商品或其市场价格 及易变化或不易确定价值的商品（以及商品部件）等。&nbsp;</li><li>古董，包括显示古代风格的任何商品、其历史性、年代或稀有性造成其价值者，包括但不 限于，家俬、餐具、玻璃器具以及诸如钱币、邮票、运动卡、礼品及纪念品等收藏品。&nbsp;</li>
                    <li>玻璃器具，包括但不限于，标志、镜子、陶器、磁器、瓷器、水晶、玻璃、镶框玻璃及其 它易碎用品。</li>
                    <li>珠宝，包括但不限于：手表镶嵌及其零件、已切割或未切割的贵重和次等珠宝或宝石、人 造钻石及人造珠宝。</li><li>贵金属，包括但不限于，黄金、银块、粉、沉淀物或白金 （电子机械构件除外）。</li><li>毛皮制品，包括但不限于毛皮衣物、毛皮装饰衣物和皮裘。</li><li>重量超过30~40磅的电器类（如洗衣机、冰箱、音响、烤箱等）单件商品。</li><li>包括但不限于eBay个人卖家等非商业地址寄送的货件。</li>
                </ul>
                <p><span style="font-size: 12pt;"><strong><span style="color: rgb(0, 0, 255);">免责条款</span></strong></span></p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp;起点不承担任何间接、附带、特殊或衍生的损失（包括但不限于收入或利润损失）所产生的赔偿责任，并不会就包括但不限于任何下列原因所引起或造成的遗失、损毁、延迟送达、误送、未送达、提供错误资料或未能提供资料负任何责任，亦不采取任何运费调整、退款或任何补偿行为：</p>
                <ol>
                    <li>因承运及相关人员不履行责任或疏忽而导致货物发生损毁。</li>
                    <li>因托运货物本身具有瑕疵及缺陷，如有明显破损等。</li>
                    <li>因您违反本公司所签发的运单、本条款、服务指南、或其它协议等，诸如货物申报不实、 寄运货件的包装、安全保障、标志或地址书写不当或不完整；或运单申报列表之中未列明 货品产生缺损。</li>
                    <li>因您违反本公司及海关相关规定和条款，包括：货物申报不实、寄运严禁入境商品被海关 罚没或退运、物品超过海关规定中所限制的数量所导致的罚款、罚没及退运等。</li>
                    <li>发生空难事故、公敌入侵、政府当局、法律权限、海关或检疫所官员的行为或疏忽、暴动 、罢工或其它地区性争执、民众骚乱、战争、恶劣天气或自然灾害所带来的危险、或由非 本公司所能控制事项所致，如：全国性或区域性空中或地面交通系统中断或通讯系统干扰 或故障。在此情况下，本公司仍会尽合理的努力，尽快运送至目的地并完成送件。但没有 义务在出现此类情况时向您发出通知及承担事后赔偿责任。</li>
                    <li>本公司遵循您或其他寄、收件人的口头或书面送件指示，而导致的不利后果。</li>
                    <li>对于在送达时无破损且外包装基本完整的包裹，或收件人正常签收（无论是家人，门卫<br clear="none"> 同事，朋友等代签收，一律视为本人签收）的包裹，以及客人申诉包裹坏损或内件短少且 不能提交书面破损及内件短少的证明，华美不承担责任。</li>
                    <li>因清关手续或其它主管机关规定手续所致的延误。</li>
                    <li>因您没有及时确认关税及税金支付延迟所致的延误。</li>
                    <li>如有磁带、文件或其它存储媒体中数据的消除、或曝光底片中照相影像或录音带消除。</li>
                    <li>因您未能提供能够支持多次转运需要的包装而造成的毁损。</li>
                    <li>因发件人提供了错误或不完整的地址信息，致使无法有效地联系收件人，而造成的重复 配送所产生的费用及相关的后果。</li>
                    <li>因航班延误、取消或停飞造成的货物发送延误。</li>
                    <li>因天气气候原因造成货物融化冻结等形态变化。</li>
                    <li>货物入库超过90天未提交运单发货，视作弃货处理，起点不再承担任何责任。</li>
                </ol>
                <p>&nbsp;</p>
            </div>
        </div>
{% endblock %}
