{% extends "www/base.html" %}

{% block title %}收费标准 | {{ super() }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://app.yinxiang.com/redesign/global/css/fonts.css">
    <link rel="stylesheet" href="https://app.yinxiang.com/redesign/global/css/noteView.css">
    <style>
        #haloword-pron { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -94px -34px; }#haloword-pron:hover { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -111px -34px; }#haloword-close { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -94px 0; }#haloword-close:hover { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -111px 0; }</style><style>#haloword-pron { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -94px -34px; }#haloword-pron:hover { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -111px -34px; }#haloword-close { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -94px 0; }#haloword-close:hover { background: url(chrome-extension://bjjcmegmiddmkeomkgicfhjajbmnpnfk/img/icon.svg) -111px 0; }
        body {background: #FFFFFF;padding-top: 70px;padding-bottom: 20px;}
        .header {background-color: #F8F8F8;border-bottom:#F8F8F8;}
    </style>
{% endblock %}

{% block full %}
<div class="note-content">
    <div class="ennote">
        <p><span style="font-size: 12pt;">计费单位与计重单位</span><br clear="none"> &nbsp; &nbsp; &nbsp; &nbsp;以美元（$）为计费单位，充值人民币6.3 元（￥）折合1美元<br clear="none"> &nbsp; &nbsp; &nbsp; &nbsp;以磅（LB）为计重单位，1磅≈454克</p>
        <p><span style="font-size: 12pt;">运费收费标准</span></p>
        <p> &nbsp; &nbsp; &nbsp; &nbsp;口岸时效：5-7个工作日<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>国内转发：邮政EMS、韵达快递<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>包裹要求：单箱限重10磅，超重自动分箱（单件不可分割除外），需严格填写品牌、品名、数量、申报价格。<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>承运物品：A/B/C分类详见。<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>服务项目：免费分箱，合箱，加固，合理减重<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>保险金额：物品实际购买价格2%。<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>积分使用：推广以及晒单积分可以使用。<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>发货时间:&nbsp;【每周1-6纽约直发】【每周一、三、五免税州直发】</p>
        <p><span style="font-size: 12pt;">充值优惠与VIP用户</span></p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;单次充值满￥1000 / 2000 / 3000 / 4000，赠送￥10 / 20 / 30 / 40运费，赠款仅用于运费，不予提现。<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>单次充值满￥5000，赠送￥55运费，成为起点快递VIP用户，享受上述运费优惠价，即无论原箱或分合箱均有基础运费上的-$0.5/磅的优惠，同时增值服务（退货手续费除外）皆免费，并免收仓储费</p>
        <p><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>A类货物———纽约州（NY）仓库首磅 $8，续磅 $4.5，免税州（DE）仓库首磅$8.5， 续磅$5.0。&nbsp;</p>
        <p><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>B、C类货物—-纽约州（NY）仓库首磅$10，续磅 $5.5，免税州（DE）仓库首磅$11，续磅$6。</p>
        <p><span style="font-size: 12pt;">A/B/C分类详见</span></p>
        <p><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>注1：一磅起运，计重精确到小数点后两位，最终重量（以运单管理内显示数值为准）之小数部分0.01~0.10磅抹零，超过0.1磅向上取整计费，单箱货物限重10磅（如箱内有C类品牌包则限重7磅），超重自动分箱，除个别特殊类别，不限单箱内件个数.</p>
        <p><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>注2：普通用户原箱发货与VIP用户发货（不论原箱或者分合箱），享受每磅-$0.5优惠，即A类NY仓$7.5＋4，DE仓$8＋4.5&nbsp;，BC类NY仓$9.5＋5，DE仓$10.5＋5.5。</p>
        <p><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>注3：上述价格包含美中国际段运费与国内段普通快递运费</p>
        <p><span style="font-size: 12pt;">奶粉专线渠道</span></p>
        <p><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>渠道优势: 奶粉专线渠道安全稳定。</p>
        <p> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>口岸时效：5-10个工作日。</p>
        <p> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>国内转发：EMS</p>
        <p> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>包裹要求：每箱限重5.5磅（即2.5kg）之内，超过自动分箱。</p>
        <p> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>承运物品：只能是奶粉，不包括米粉/辅食等其他类别。</p>
        <p> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>服务项目：免费分箱，合箱，加固，合理减重。</p>
        <p> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>保价金额：物品实际购买价格2%。</p>
        <p> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>积分使用：推广以及晒单积分不可以使用。</p>
        <p> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>发货时间: 每周发货（每个收件人每批次只能发一个包裹）</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp;渠道要求：必须上传身份证件信息&nbsp;</p>
        <div><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>收费价格：<br clear="none"> <span>&nbsp; &nbsp; &nbsp; &nbsp;</span><span>&nbsp; &nbsp; &nbsp; &nbsp;</span>纽约仓：4.25美金（无首磅）</div><div>&nbsp; &nbsp; &nbsp; &nbsp;活动特价：<br clear="none"></div><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 纽约仓：4.00美金（无首磅）<br clear="none"> <br clear="none"> </p>
        <p>以下为美国市场常见奶粉名称和重量，如不在此列表内的，每个包裹的奶粉的净含量不可超过2.5公斤（约5.5磅），如果超出将做分箱处理。</p>
        <p>雅培系列： （SIMILAC）</p>
        <p>雅培一段：<br clear="none"> Similac Advance&nbsp; 23.2 oz（ 罐装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;单罐重量23.2 oz （658 g）&nbsp;&nbsp;&nbsp;&nbsp; 限三罐<br clear="none"> Similac Advance&nbsp; 34 oz&nbsp; （ 罐装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单罐重量 34oz&nbsp; （964g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 限二罐</p>
        <p>雅培二段：<br clear="none"> Similac Go &amp;Grow&nbsp; 22 oz （ 罐装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单罐重量22 oz&nbsp; （624 g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;限三罐</p>
        <p>美赞臣系列&nbsp; （ENFAMIL）</p>
        <p>美赞臣一段：<br clear="none"> Enfamil Refill -&nbsp;&nbsp; 33.2 oz（盒装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单盒重量 33.2 oz&nbsp; （941g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 限二盒<br clear="none"> Enfamil Powder - 23.4 oz（ 罐装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单罐重量23.4 oz&nbsp;&nbsp; （663 g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 限三罐</p>
        <p>美赞臣二段：<br clear="none"> Enfamil Enfagrow&nbsp; 30 oz （盒装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单盒重量 30 oz&nbsp; （850g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;限二盒<br clear="none"> Enfamil Enfagrow&nbsp; 24 oz（ 罐装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单罐重量 24 oz&nbsp; （680g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 限三罐</p>
        <p>美赞臣三段：<br clear="none"> Enfagrow Older Toddlers 24 oz（ 罐装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单罐重量 24 oz&nbsp; （680g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 限三罐</p>
        <p>嘉宝系列（gerber）&nbsp;</p>
        <p>嘉宝一段：<br clear="none"> Gerber Good Start&nbsp; 23.2 oz&nbsp; （ 罐装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单罐重量23.2 oz （658 g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;限三罐</p>
        <p>嘉宝二段：<br clear="none"> Gerber Toddler&nbsp;&nbsp;&nbsp; 22 oz（ 罐装）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 单罐重量22 oz&nbsp; （624 g）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;限三罐</p>
        <p>&nbsp;&nbsp;</p>
        <p>【USPS渠道运费】</p>
        <p>美国邮政正规授权直接合作的（USPS PRIORITY）渠道:</p>
        <p>渠道特性：USPS直接正式授权提供，为万国邮联认可<br clear="none"> 渠道时效：USPS Priority为6~10个工作日<br clear="none"> 清关性质：收件方所在地邮政关清关，如有税费自理<br clear="none"> 查验方式：非主动报关，合理自用范围内，被查验率低于快件清关<br clear="none"> 单号查询：USPS Priority单号为CJ开头US结尾，美国段USPS可查，中国段11185可查，更新稍慢.</p>
        <p>一.USPS PRIORITY MAIL 服务:（6-10天时效）</p>
        <p>首磅$38，续磅$5，10lbs（磅）起运，纽约州（NY）与免税州（DE）仓库发货同价<br clear="none"> 推广期间优惠————首磅$35，续磅$4</p>
        <p>USPS渠道运输需满足以下条件：</p>
        <p>1）USPS渠道不予接受保险。<br clear="none"> 2）USPS渠道不抹零（美国邮局USPS规定）。<br clear="none"> 3）USPS渠道必须填写物品名称以及物品申报价值。<br clear="none"> 4）单箱重量上限66磅，体积尺寸限制为最大长度60inch约153cm，（宽＋高）＊2＋长不超过108inch约274cm。</p>
        <p>&nbsp;&nbsp;</p>
        <p>【保险费、增值服务收费、仓储费】</p>
        <p>贵重物品建议购买保价，保价金额为物品实际价值的2%，详情参见<a shape="rect" href="http://www.hmus.net/news/help79.html" target="_blank">《保价购买须知》</a><br clear="none"> 拍照、清点、验货、退货手续费，普通用户每单$2，VIP用户退货手续费，每单$2.<br clear="none"> 自入库日至提交日起，31个自然日免费仓储期，超期未提交运单的包裹，起点速递将按包裹/日的单位收取仓储管理费<br clear="none"> 超期仓储费计算方法为：单件包裹≤10磅重，每1件包裹收取$0.5/日；单件包裹&gt;10磅重，按包裹磅数/10向上取整之数，单件每10磅收取$0.5/日。</p>
        <p><br clear="none"> 【体积重说明】</p>
        <p>计算公式：长×宽×高（单位：inch（英寸））/ 139之后所得之数减去货品实际重量，即所需多付的体积重，起点将为您承担一半的体积费。比如您的物品是20磅，体积重是35磅（35磅-20磅=15磅， 15磅/2=7.5磅 ），只需要多付超出体积的一半7.5磅的体积重运费。</p>
        <p><br clear="none"> 【其他装箱说明】</p>
        <p>1.&nbsp; 奶粉请查阅奶粉专线渠道。<br clear="none"> 2.&nbsp; 手机、手表、电脑、平板、相机等高货值物品目前停止承运.<br clear="none"> 3.&nbsp; 高档化妆品（Lamer、Channel、La Prairie及同档）与香水单箱限4磅<br clear="none"> 4.&nbsp; 如单件货物为不可分割货件，则无单箱10磅限重，重量如超出10磅较多，请具体联系客服了解相关事宜。<br clear="none"> 5.&nbsp; 包括但不限于渔具、滑雪板、滑板、婴儿推车、婴儿安全座椅、浴盆、玩具/成人行李箱、大型/异形电动工具/汽车配件/工业仪器等，非USPS渠道不承运；USPS渠道运输需满足以下条件：单箱重量上限66磅，体积尺寸限制为最大长度60inch约153cm，（宽＋高）＊2＋长不超过108inch约274cm。</p>
        <p><br clear="none"></p>
        <p>物品分类详情</p>
        <table width="98%">
            <tbody>
                <tr><td colspan="1" rowspan="1" width="58"><p>计费类别</p></td>
                <td colspan="1" rowspan="1" width="99"><p>货类</p></td>
                <td colspan="1" rowspan="1" width="397"><p>品名明细</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>服饰</p></td>
                <td colspan="1" rowspan="1" width="397"><p>衬衫、T恤、毛衣、大衣、棉衣、内衣、睡衣、裤装、围巾、帽子、男女套装、童装、裙装、孕妇装、皮装/皮草、普通眼镜，皮带、皮带扣、领带夹</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>鞋靴</p></td>
                <td colspan="1" rowspan="1" width="397"><p>男式/女式鞋/靴、童鞋</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>运动物品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>运动器械，球类、球拍、球杆、护具、器械、户外运动装备（带长短刃刀/钳禁运），帐篷、睡袋、防潮垫、背包、防护救生工具</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>护理卫生用品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>手动剃须刀、女性手动剃毛刀、女性卫生用品</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>母婴用品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>奶具、奶瓶、辅食研磨器、床品、尿片、尿垫、喂药器、吸管、婴儿餐具餐椅、婴儿洗护品、妊娠纹霜、乳头霜</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>成人用品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>避孕套、润滑液、情趣用品（非电动）</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>日用品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>餐具（厨刀禁运）、烟具、酒具、茶具、咖啡器具、家装配 件、台灯、杯子、手杖、怀炉、皮套、香皂、洗衣粉、洗衣液</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>音像制品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>CD/DVD/BlueRay碟片,录像带,游戏光盘（色情、暴力、政治敏感题材禁运）</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>玩具</p></td>
                <td colspan="1" rowspan="1" width="397"><p>毛绒玩具、塑料玩具、模型（非电动）、积木、益智玩具、费雪海马</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>箱包</p></td>
                <td colspan="1" rowspan="1" width="397"><p>钱包、手包、拎包、单肩包、双肩背包、旅行包、行李箱</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>书籍</p></td>
                <td colspan="1" rowspan="1" width="397"><p>书、期刊杂志、写真集、海报、摄影、儿童读物（色情、暴力、政治敏感题材禁运）</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>文具</p></td>
                <td colspan="1" rowspan="1" width="397"><p>案台、桌上用品</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>零食</p></td>
                <td colspan="1" rowspan="1" width="397"><p>黄油、巧克力、坚果、糖果、果泥、膨化食品</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>颗粒胶囊状保健品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>维生素、螺旋藻、鱼油、卵磷脂、感冒药、咳嗽药、减肥药</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>粉末类保健品/食品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>奶粉、米粉、蛋白粉、豆粉、营养粉</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>A</p></td>
                <td colspan="1" rowspan="1" width="99"><p>液体保健品/食品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>蜂蜜、蜂王浆、液体钙、液体鱼肝油、椰子油、儿童DHA,食用油</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>B</p></td>
                <td colspan="1" rowspan="1" width="99"><p>液体化妆护肤品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>香水、精油、卸妆水、粉底液、洗面奶、爽肤水、身体乳、精华、乳液</p><p>（金属压力罐禁运）</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>B</p></td>
                <td colspan="1" rowspan="1" width="99"><p>膏状化妆护肤品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>面霜、面膜眼霜（膏）、口红、唇膏、护肤黄油、眼影膏</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>B</p></td>
                <td colspan="1" rowspan="1" width="99"><p>粉末状化妆护肤品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>粉饼、散粉</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>B</p></td>
                <td colspan="1" rowspan="1" width="99"><p>固体化妆护肤品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>假睫毛、眼影、睫毛膏、腮红、眉笔</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>B</p></td>
                <td colspan="1" rowspan="1" width="99"><p>成人洗护用品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>洗发水、生发液、润肤露、沐浴露</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>B</p></td>
                <td colspan="1" rowspan="1" width="99"><p>首饰装饰</p></td>
                <td colspan="1" rowspan="1" width="397"><p>项链、手链、脚链、摆件、戒指、耳环、胸针、发饰、手镯、腰带、墨镜</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>C</p></td>
                <td colspan="1" rowspan="1" width="99"><p>电子数码产品</p></td>
                <td colspan="1" rowspan="1" width="397"><p>CD/DVD机、MP3、MP4、电子书、电子词典、投影机、传真机、打印机、手机、摄像机、数码相机、胶片相机、相机镜头、玩具相机、望远镜、显微镜、笔记本电脑、平板电脑、音响器材、录音笔、电动玩具、GPS、电话机、电子游戏机、电子血压计、电子体温计/耳温计、电子医疗保健设备、机顶盒</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>C</p></td>
                <td colspan="1" rowspan="1" width="99"><p>电子数码配件</p></td>
                <td colspan="1" rowspan="1" width="397"><p>耳机、麦克风、卡座、电脑配件（主板、内存、芯片、硬盘、显卡、声卡等）、电脑外设、读卡器、存储卡、U盘、电子游戏配件</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>C</p></td>
                <td colspan="1" rowspan="1" width="99"><p>电器类</p></td>
                <td colspan="1" rowspan="1" width="397"><p>榨汁机、料理机、咖啡机、酸奶机、多士炉、面包机、炙烤炉、煮蛋器、清洗机、干衣机、挂烫机、干鞋器、擦鞋器、扫地机、清洁机、洗脸机、电动剃须刀、电动剃毛刀、电动吸奶器、电动洗脸刷</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>C</p></td>
                <td colspan="1" rowspan="1" width="99"><p>乐器类</p></td>
                <td colspan="1" rowspan="1" width="397"><p>吉他、口琴、小提琴、电子琴、萨克斯、电子鼓、乐器配件</p></td></tr><tr><td colspan="1" rowspan="1" width="58"><p>C</p></td>
                <td colspan="1" rowspan="1" width="99"><p>名牌包</p></td>
                <td colspan="1" rowspan="1" width="397"><p>包括但不限于Coach、Kate Spade、Hermès、LV、Gucci、Prada、CK、MK、Tommy、Armani等包具</p></td></tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
</div>
{% endblock %}
