{% extends "www/base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ versioning('styles/index.css') }}">
{% endblock %}

{% block banner %}
	<div class="banner">
    	<ul>
        	<li style="width: 25%; background-image: url(http://www.bootcss.com/p/unslider/img/sunset.jpg); background-size: 100% 100%;">
        		<div class="inner">
					<h1>起点速递</h1>
					<p>为您提供贴心的转运服务</p>
					<a class="btn" href="{{ url_for('views.knowledge_detail', name='pay') }}">了解详情</a>
				</div>
        	</li>
        	<li style="width: 25%; background-image: url(http://www.bootcss.com/p/unslider/img/subway.jpg); background-size: 100% 100%;">
        		<div class="inner">
					<h1>个人行游完税价格表</h1>
					<p>完税一览表</p>
					<a class="btn" href="{{ url_for('views.knowledge_detail', name='tax') }}">点击查看</a>
				</div>
        	</li>
        	<li style="width: 25%; background-image: url(http://www.bootcss.com/p/unslider/img/wood.jpg); background-size: 100% 100%;">
              	<div class="inner">
					<h1>免责赔偿</h1>
					<p>赔偿无忧，让你放心</p>
					<a class="btn" href="{{ url_for('views.knowledge_detail', name='offset') }}">查看细则</a>
				</div>
        	</li>
    	</ul>
	</div>
    <div class="row" style="background: #f7f7f6; padding-top: 30px;">
		<div class="col-md-1"></div>
		<div class="col-md-7">
			<blockquote>
				{{ random_choice([
					'<p>有只鸭子叫小黄，一天他被车撞到，他就大叫一声：「呱！」从此他就变成小黄瓜了!! </p><footer class="hide">in <cite title="Source Title">Title</cite></footer>',
					'<p> 甲：“我带你去一个全部女生都没有穿胸罩的地方。”
					乙：“真的吗？在哪里？快带我去！”
					甲：“就在隔壁的幼儿园！” </p><footer class="hide">in <cite title="Source Title">Title</cite></footer>',
					'<p>开心词典节目主持人王小丫现场采访一位节目观众，问：“在你心目中你最崇拜哪个女主持人？”观众说：“是你呀。”王小丫问：“为何如此说？”观众说：“因为你长得有点像杨澜！”</p><footer class="hide">in <cite title="Source Title">Title</cite></footer>',
					'<p>我最讨厌两种人： 一是有种族歧视的； 二是黑人； 三是不识数的！</p><footer class="hide">in <cite title="Source Title">Title</cite></footer>',
				])|safe }}
			</blockquote>
		</div>
        <div class="col-md-3">
            <form class="form-horizontal" action="{{ url_for('views.bill_search') }}" method="POST" role="form">
                <div class="form-group">
                    <div class=""><textarea class="form-control" id="serial_num" name="serial_num" placeholder="批量查询，最多10单" rows="8"></textarea></div>
                </div>
                <div class="form-group">
                    <div class="pull-right"><button type="submit" class="btn btn-default">查询</button></div>
                </div>
            </form>
        </div>
		<div class="col-md-1"></div>
    </div>
    <div class="row hide" style="background: #eee; padding-top: 30px;">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading" style="font-size:18px;">新闻公告</div>
				<div class="panel-body">
					<dl class="dl-horizontal" style="font-size:16px;">
						<dt style="width:240px;margin-right:10px;">中华人民共和国进境物品归类表</dt><dd>中华人民共和国进境物品归类表中华人民共和国进境物品归类表</dd>
						<dt style="width:240px;margin-right:10px;">航空禁运商品明细</dt><dd>航空禁运商品明细航空禁运商品明细航空禁运商品明细航空禁运商品明细</dd>
						<dt style="width:240px;margin-right:10px;">起点速递免责赔偿条款</dt><dd>起点速递免责赔偿条款起点速递免责赔偿条款起点速递免责赔偿条款起点速递免责赔偿条款</dd>
						<dt style="width:240px;margin-right:10px;">中华人民共和国进境物品归类表</dt><dd>中华人民共和国进境物品归类表中华人民共和国进境物品归类表</dd>
						<dt style="width:240px;margin-right:10px;">航空禁运商品明细</dt><dd>航空禁运商品明细航空禁运商品明细航空禁运商品明细航空禁运商品明细</dd>
						<dt style="width:240px;margin-right:10px;">起点速递免责赔偿条款</dt><dd>起点速递免责赔偿条款起点速递免责赔偿条款起点速递免责赔偿条款起点速递免责赔偿条款</dd>
					</dl>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" style="font-size:18px;">相关资料</div>
				<div class="panel-body">
					<dl class="dl-horizontal" style="font-size:16px;">
						<dt style="width:240px;margin-right:10px;">中华人民共和国进境物品归类表</dt><dd>中华人民共和国进境物品归类表中华人民共和国进境物品归类表</dd>
						<dt style="width:240px;margin-right:10px;">航空禁运商品明细</dt><dd>航空禁运商品明细航空禁运商品明细航空禁运商品明细航空禁运商品明细</dd>
						<dt style="width:240px;margin-right:10px;">起点速递免责赔偿条款</dt><dd>起点速递免责赔偿条款起点速递免责赔偿条款起点速递免责赔偿条款起点速递免责赔偿条款</dd>
						<dt style="width:240px;margin-right:10px;">中华人民共和国进境物品归类表</dt><dd>中华人民共和国进境物品归类表中华人民共和国进境物品归类表</dd>
						<dt style="width:240px;margin-right:10px;">航空禁运商品明细</dt><dd>航空禁运商品明细航空禁运商品明细航空禁运商品明细航空禁运商品明细</dd>
						<dt style="width:240px;margin-right:10px;">起点速递免责赔偿条款</dt><dd>起点速递免责赔偿条款起点速递免责赔偿条款起点速递免责赔偿条款起点速递免责赔偿条款</dd>
					</dl>
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="thumbnail">
				<img src="{{ versioning('images/2Dcode.png') }}" width="160" height="160"/>
				<div class="caption">
					<h3>微信公共帐号：oexpressus</h3>
			        <p>微信公共帐号的介绍</p>
				</div>
			</div>
			<div class="thumbnail">
				<img src="{{ versioning('images/2Dcode.png') }}" width="160" height="160"/>
				<div class="caption">
					<h3>微信公共帐号：oexpressus</h3>
			        <p>微信公共帐号的介绍</p>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
    </div>
	<div class="wrap" style="background:#006666;">
		<div class="container">
			<div class="row">
				<div class="text-center" style="margin-bottom:30px;color:#EEEEEE;">
					<h2>海淘流程</h2>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="caption">
							<h3 class="text-center">第一步</h3>
							<p class="text-center well">把冰箱门打开</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="caption">
							<h3 class="text-center">第二步</h3>
							<p class="text-center well">把大象装进去</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="caption">
							<h3 class="text-center">第三步</h3>
							<p class="text-center well">把冰箱门关上</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrap" style="background:#f9f2f4;">
		<div class="container">
			<div class="row">
				<div class="panel" style="margin-bottom:30px;">
					<h2>什么是海淘?</h2>
					<p style="font-size:16px;">“海淘”，即海外网站淘货，就是通过互联网检索海外商品信息，并通过电子订购单发出购物请求，然后填上私人信用卡号码，由海外购物网站通过国际快递发货，或是由转运公司代收货物再转寄回国。海淘，一般付款方式是款到发货（在线信用卡付款、PayPal账户付款）美国的习惯是下订单时预授权扣款，发货时才扣款。
年轻妈妈是参与海淘的主力军。如果不计关税，确实比国内便宜，但如果被海关抽查，价格算下来很可能比国内专柜还高。但相比价格，妈妈们更在意的是产品的质量安全。
补充说明，很多产品，即使被税，也比国内便宜很多。“海淘”，即海外网站淘货，就是通过互联网检索海外商品信息，并通过电子订购单发出购物请求，然后填上私人信用卡号码，由海外购物网站通过国际快递发货，或是由转运公司代收货物再转寄回国。海淘，一般付款方式是款到发货（在线信用卡付款、PayPal账户付款）美国的习惯是下订单时预授权扣款，发货时才扣款。
年轻妈妈是参与海淘的主力军。如果不计关税，确实比国内便宜，但如果被海关抽查，价格算下来很可能比国内专柜还高。但相比价格，妈妈们更在意的是产品的质量安全。
补充说明，很多产品，即使被税，也比国内便宜很多。“海淘”，即海外网站淘货，就是通过互联网检索海外商品信息，并通过电子订购单发出购物请求，然后填上私人信用卡号码，由海外购物网站通过国际快递发货，或是由转运公司代收货物再转寄回国。海淘，一般付款方式是款到发货（在线信用卡付款、PayPal账户付款）美国的习惯是下订单时预授权扣款，发货时才扣款。
年轻妈妈是参与海淘的主力军。如果不计关税，确实比国内便宜，但如果被海关抽查，价格算下来很可能比国内专柜还高。但相比价格，妈妈们更在意的是产品的质量安全。
补充说明，很多产品，即使被税，也比国内便宜很多。</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block full %}
    <!-- right -->
	<div class="right col-sm-4 hide">
		<ul class="list-group">
  			<li class="list-group-item">
  				<p><a href="mailto:lzmchris@hotmail.com?Subject=[意见反馈]" target="_blank">发邮件：起点速递-小李</a></p>
  			</li>
    		<li class="list-group-item list-group-item-info">
  				<p><a href="mailto:yiwang8512@gmail.com?Subject=[意见反馈]" target="_blank">发邮件：起点速递-小王</a></p>
  			</li>
  			<li class="list-group-item">
  				<p>微信：momomo_sz</p>
  			</li>
    		<li class="list-group-item list-group-item-info">
  				<p>微信：fredli84</p>
  			</li>
		</ul>
    </div>

	<div class="row">
		<div class="text-center" style="margin-bottom:30px;color:#EEEEEE;">
			<h2>充值成为会员</h2>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<h4 class="text-center">充￥1000只需</h4>
				<div class="caption">
					<h3 class="text-center">￥990</h3>
					<p class="text-center well">充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充节省10元赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充</p>
					<a href="#" class="btn-block btn btn-success" role="button">立即充值</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<h4 class="text-center">充￥2000只需</h4>
				<div class="caption">
					<h3 class="text-center">￥1970</h3>
					<p class="text-center well">节省30元赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充紧充赶紧充</p>
					<a href="#" class="btn-block btn btn-success" role="button">立即充值</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<h4 class="text-center">充￥3000只需</h4>
				<div class="caption">
					<h3 class="text-center">￥2950</h3>
					<p class="text-center well">节省50元赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充</p>
					<a href="#" class="btn-block btn btn-success" role="button">立即充值</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<h4 class="text-center">充￥5000只需</h4>
				<div class="caption">
					<h3 class="text-center">￥4900</h3>
					<p class="text-center well">节省100元赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充赶紧充</p>
					<a href="#" class="btn-block btn btn-success" role="button">立即充值</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ versioning('scripts/vendor/unslider.js') }}"></script>
<script type="text/javascript">
	$(function() {
    	$('.banner').unslider({
				keys: true,
				dots: true,
				fluid: false
			});
    	});
</script>
{% endblock %}
