{% extends "www/base.html" %}

{% block nav %}
    <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('views.index') }}">
                    <span class="glyphicon glyphicon-plane"></span>
                    <img class="hide" alt="Brand" height="24" src="{{ versioning('fav.ico') }}">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-left">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#service">解决方案</a></li>
                    <li class=""><a href="#charge">收费标准</a></li>
                    <li class=""><a href="#indemnify">免责赔偿</a></li>
                    <li class=""><a href="/knowledge">相关知识</a></li>
                    <li class=""><a href="/bill/search">批量查询</a></li>
                    <li class=""><a data-toggle="modal" data-target="#contact">联系我们</a></li>
                </ul>
            </div>

            <form class="navbar-form form-inline navbar-right" action="{ url_for('views.search') }}" method="POST" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="单号">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>

        </div>
    </nav>
{% endblock %}

{% block main %}
    <div id="slide" data-target="#nav" data-offset="0" class="">
        <div id="service" class="jumbotron">
            <h1>解决方案</h1>
            <p>介绍</p>
            <p><a href="/signup">注册</a></p>
            <p><a href="/signin">登录</a></p>
            <p><a class="btn btn-primary btn-lg" role="button" href="/service">详情</a></p>
        </div>
        <div id="charge" class="jumbotron">
            <h1>收费标准</h1>
            <p>点击可查询</p>
            <p>点击可查询</p>
            <p>点击可查询</p>
            <p>点击可查询</p>
            <p>点击可查询</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="/charge">详情</a></p>
        </div>
        <div id="indemnify" class="jumbotron">
            <h1>免责赔偿</h1>
            <p><a class="btn btn-primary btn-lg" role="button" href="/indemnify">详情</a></p>
        </div>
    </div>

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">联系方式</h4>
                </div>
                <div class="modal-body">
                    <p>sdddddddddddddddddddddddddd</p>
                    <a class="btn btn-default">点击复制</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}